[submodule "thirdparty/emp-tool"]
	path = thirdparty/emp-tool
	url = https://github.com/emp-toolkit/emp-tool.git
[submodule "thirdparty/emp-ot"]
	path = thirdparty/emp-ot
	url = https://github.com/carlweng/emp-ot.git
